<%
 #-------------------------------------------------------------------------------
 # The BZFlag Website Project - administration and monitoring of BZFlag servers
 # Copyright (C) 2009  Bernt T. Hansen
 #
 # This website project is free software; you can redistribute it and/or
 # modify it under the terms of the GNU Lesser General Public
 # License as published by the Free Software Foundation; either
 # version 2.1 of the License, or (at your option) any later version.
 #
 # This website project is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 # Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public
 # License along with this website project; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 #-------------------------------------------------------------------------------
 -%>
<h1>Logs</h1>
<h2><%= @bz_server.server_host.hostname%>:<%=@bz_server.port%> - <%= @bz_server.map_name %></h2>
<% if @log_messages[0] -%>
    <%= link_to "Prev", :action => :logs, :id => @bz_server.id, :prev_page => @log_messages[0].id - 1 %>
    <%= link_to "Next", :action => :logs, :id => @bz_server.id, :next_page => @log_messages[-1].id + 1 %>
<% end -%>
<table class="legend">
<tr>
<td class="playerjoin">Player Join/Part</td>
<td class="srvr">Server</td>
<td class="bcast">Broadcast</td>
<td class="dir">Private</td>
<td class="team">Team</td>
<td class="cmd">Command</td>
<td class="adm">Admin</td>
<td class="rpt">Report</td>
<td class="filtered">Filtered</td>
</tr>
</table>
<table class="logs">
<tr>
<th>Date</th>
<th>From</th>
<th>To</th>
<th>Detail</th>
<th>Action</th>
</tr>
<%
@log_messages.each do |lm|
    from = lm.callsign && lm.callsign.name || ""
    to = lm.to_callsign && lm.to_callsign.name || ""
    detail = lm.message && lm.message.text || ""

    case lm.log_type_id

    when @player_join_log_type_id
        css_class = "playerjoin"
        if lm.player_connection
          to = "##{lm.player_connection.slot} joins"
          detail = ""
          if lm.player_connection.bzid
            detail += "BZid:#{lm.player_connection.bzid} "
          end
          detail += "#{lm.player_connection.team.name} "
          detail += "IP:#{lm.player_connection.ip.ip} "
          detail += "VERIFIED " if lm.player_connection.is_verified
          detail += "GLOBALUSER " if lm.player_connection.is_globaluser
          detail += "ADMIN " if lm.player_connection.is_admin
          detail += "OPERATOR " if lm.player_connection.is_operator
          detail.rstrip
        end

    when @player_part_log_type_id
        css_class = "playerjoin"
        to = "##{lm.player_connection && lm.player_connection.slot} removed"

    when @player_auth_log_type_id
        css_class = "playerjoin"
        to = 'auth change'

    when @server_status_log_type_id
        css_class = "srvr"
        from = "SERVER"
        to = "STATUS"

    when @msg_broadcast_log_type_id
        if lm.callsign_id == @server_callsign_id
            css_class = "srvr"
        else
            css_class = "bcast"
        end
        to = "ALL"

    when @msg_filtered_log_type_id
        css_class = "filtered"

    when @msg_direct_log_type_id
        css_class = "dir"

    when @msg_team_log_type_id
        css_class = "team"
        to = lm.team.name

    when @msg_report_log_type_id
        css_class = "rpt"
        to = "REPORT"

    when @msg_command_log_type_id
        css_class = "cmd"
        to = "COMMAND"

    when @msg_admin_log_type_id
        css_class = "adm"
        to = "ADMINS"

    when @server_mapname_log_type_id
        css_class = "srvr"
        from = "SERVER"
        to = "MAP NAME"
    end

%>
<tr class="<%= css_class %>">
<td> <%= display_date(lm.logged_at) %> </td>
<td> <%= from %>  </td>
<td> <%= to %>  </td>
<td><%= detail %> </td>
<td></td>
</tr>
<% end -%>
</table>
<% if @log_messages[0] -%>
    <%= link_to "Prev", :action => :logs, :id => @bz_server.id, :prev_page => @log_messages[0].id - 1 %>
    <%= link_to "Next", :action => :logs, :id => @bz_server.id, :next_page => @log_messages[-1].id + 1 %>
<% end -%>
