<h1>Players</h1>
<div>
  <fieldset>
    <legend>Enter Player Search Criteria</legend>
    <% form_for :player_search do |form| %>
      <p><label for="search_for">Search For:</label>
         <%= form.text_field :search_for, :size => 30 %>
	 <%= form.radio_button(:search_by, "Callsign") %> Callsign
	 <%= form.radio_button(:search_by, "IP") %> IP
	 <%= form.radio_button(:search_by, "Hostname") %> Hostname
	 <%= submit_tag "Search" %>
      <br/>
      Use % for wildcard matches.
      </p>
    <% end %>
  </fieldset>
</div>

<div class="players">
<% if @matches %>
<p> <%= @matches %> matches found on <%= @ips.size %> IPs.  Recently used IPs listed first.</p>
<% end %>
<% if @ips[0] %>
<table>
  <caption>IPs and Callsign Results </caption>
  <tr>
    <th>IP</th>
    <th>Hostname and Callsigns</th>
    <th>BZid</th>
    <th>Status</th>
    <th>Connections</th>
  </tr>
  <% @ips.each do |ip, pcs| %>
  <tr class="iphost">
    <td><%= link_to ip.ip, { :action => "players", :player_search => { :search_by => "IP", :search_for => ip.ip.split('.')[0..2].join('.') + ".%" } }, { :method => :post } if ip.ip %></td>
    <td colspan="3"><%= link_to ip.hostname, { :action => "players", :player_search => { :search_by => "Hostname", :search_for => '%.' + ip.hostname.split('.')[1..-1].join('.') } }, { :method => :post } if ip.hostname %></td>
    <td> <%= display_date_range(ip.first_join_at, ip.last_part_at) %> </td>
  </tr>
  <% pcs.each do |pc|%>
  <tr class="callsign">
    <td></td>
    <td><%= link_to pc.callsign.name, { :action => "players", :player_search => { :search_by => "Callsign", :search_for => pc.callsign.name } }, { :method => :post } %></td>
    <td><%= pc.bzid %></td>
    <td><%= '<span class="verified">VERIFIED</span>' if pc.is_verified %>
      <%= '<span class="globaluser">GLOBALUSER</span>' if pc.is_globaluser %>
      <%= '<span class="admin">ADMIN</span>' if pc.is_admin %>
      <%= '<span class="operator">OPERATOR</span>' if pc.is_operator %></td>
    <td><%= display_date_range(pc.join_at, pc.part_at) %> </td>
  </tr>
  <% end %>
  <% end %>
</table>
<p><b>Disclaimer:</b></p>
<p>Unverified callsigns can be forged by other players - please consider this when interpreting the data.</p>
<p>Status column information:</p>
<ul>
  <li><span class="verified">VERIFIED</span> - Player has identified</li>
  <li><span class="globaluser">GLOBALUSER</span> - Player has identified and is registered globally on bzbb</li>
  <li><span class="admin">ADMIN</span> - Player has ban privileges</li>
  <li><span class="operator">OPERATOR</span> - Player has entered the server password</li>
</ul>

<% end %>
</div>
