<tr>
  <td><%= bz_server.server_host.hostname %></td>
  <td><%= bz_server.port %></td>
  <td><%= bz_server.map_name %></td>
  <td><%= bz_server.last_chat_at %></td>
  <td><%= bz_server.last_filtered_chat_at %></td>
</tr>
