<%
 #-------------------------------------------------------------------------------
 # The BZFlag Website Project - administration and monitoring of BZFlag servers
 # Copyright (C) 2009  Bernt T. Hansen
 #
 # This website project is free software; you can redistribute it and/or
 # modify it under the terms of the GNU Lesser General Public
 # License as published by the Free Software Foundation; either
 # version 2.1 of the License, or (at your option) any later version.
 #
 # This website project is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 # Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public
 # License along with this website project; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 #-------------------------------------------------------------------------------
 -%>
<h1>Bans</h1>
<h2>Recent Bans</h2>
<table class="bans">
<caption>Bans In The Last <%= @recent_ban_days %> Days</caption>
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Server</th>
  <th>By</th>
  <th>Detail</th>
</tr>
<% @recent_bans.each_index do |i| %>
  <% ban = @recent_bans[i] %>
  <tr class="cmd">
    <td><%= link_to (i + 1).to_s, :controller => "search", :action => "logs", :id => ban.bz_server_id, :next_page => ban.id %></td>
    <td><%= display_date(ban.logged_at) %></td>
    <td><%= ban.bz_server.server_host.hostname + ':' + ban.bz_server.port.to_s %></td>
    <td><%= ban.callsign.name %></td>
    <td><%= ban.message.text %></td>
  </tr>
<% end -%>
</table>
<h2>Active Bans</h2>
<table class="bans">
<caption>Current banlist</caption>
<tr>
  <th>#</th>
  <th>Type</th>
  <th>Ban</th>
  <th>By</th>
  <th>Expires in</th>
  <th>Reason</th>
  <th>Action</th>
</tr>
<% @bans.each_index do |i| %>
  <% ban = @bans[i] %>
  <tr class="cmd">
  <td><%= i+1 %></td>
  <% if ban.instance_of?(IPBanEntry) -%>
     <td>IP</td>
     <td><%= ban.ip %></td>
  <% elsif ban.instance_of?(IDBanEntry) -%>
     <td>BZID</td>
     <td><%= ban.id %></td>
  <% elsif ban.instance_of?(HostBanEntry) -%>
     <td>Host</td>
     <td><%= ban.host %></td>
  <% else -%>
     <td>Unknown</td>
     <td></td>
  <% end -%>
  <td><%= ban.banner %></td>
  <td><%= banTimeStr(ban.endtime.to_i) %></td>
  <td><%= h(ban.reason) %></td>
  <td></td>
  </tr>
<% end -%>
</table>

