<%
 #-------------------------------------------------------------------------------
 # The BZFlag Website Project - administration and monitoring of BZFlag servers
 # Copyright (C) 2009  Bernt T. Hansen
 #
 # This website project is free software; you can redistribute it and/or
 # modify it under the terms of the GNU Lesser General Public
 # License as published by the Free Software Foundation; either
 # version 2.1 of the License, or (at your option) any later version.
 #
 # This website project is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 # Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public
 # License along with this website project; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 #-------------------------------------------------------------------------------
 %>
<h1>Servers</h1>
<% form_for :server_list, :html => { :method => :get} do |form| %>
<p>Hide:
<%= form.check_box(:hide_disabled) %> Disabled
<%= form.check_box(:hide_stopped) %> Stopped
<%= form.check_box(:hide_idle) %> Idle
Servers
<%= submit_tag "Refresh" %>
<% end -%>
<table class="legend">
<tr>
<table class="legend">
<tr>
<td>Players: <%= @total_players %> Running Servers: <%= @total_running_servers %></td>
<td class="curtime">The current time is: <%= display_date(Time.now.utc) %> UTC</td>
</tr>
</table>
</tr>
<tr>
<table class="legend">
<tr>
<td class="testserver">Test Server</td>
<td class="activeplayer">Anonymous Player</td>
<td class="registeredplayer">Registered Player</td>
<td class="admin">Administrator</td>
</tr>
</table>
</tr>
</table>

<table id="server-list">
<tr>
<th>Host</th>
<th>Port</th>
<th>Map Name</th>
<% if @admin_menu_perm %><th>Chat <span class="filteredchat">Filtered</span></th><% end -%>
<th>Links</th>
<th>#</th>
<th>Detail</th>
</tr>
<% server_count = 0
   @bz_servers.each do |b|
       next if @server_list.hide_disabled == 1 && b.is_disabled
       next if @server_list.hide_stopped == 1 && b.is_stopped
       next if @server_list.hide_idle == 1 && b.is_idle && !b.is_disabled && !b.is_stopped
       server_count += 1
       if b.current_players.count == 0
	  if server_count % 2 == 0
	     server_class = 'list-line-even'
	  else
	     server_class = 'list-line-odd'
	  end
       else
	  is_admin = is_verified = nil
	  b.current_players.each do |pl|
	      is_admin |= pl.is_admin
	      is_verified |= pl.is_verified
	  end
	  if is_admin
	      server_class = 'admin'
	  elsif is_verified
	      server_class = 'registeredplayer'
	  else
	      server_class = 'activeplayer'
	  end
       end
%>
<tr class="<%= server_class %>">
<td <%= 'class="testserver"' if b.is_test_server %>><%= b.server_host.hostname %></td>
<td <%= 'class="testserver"' if b.is_test_server %>><%= b.port %></td>
<td><%= b.map_name %></td>
<% if @admin_menu_perm -%>
  <td><%= b.last_chat_message && b.last_chat_message.logged_at > 24.hours.ago && b.last_chat_message.logged_at.strftime("%H:%M") || nil %>
    <% if b.last_filtered_message && b.last_filtered_message.logged_at > 24.hours.ago -%>
      <span class="filteredchat"><%= b.last_filtered_message.logged_at.strftime("%H:%M") %></span>
    <% end -%>
  </td>
<% end -%>
<td><%= link_to "Logs", { :controller => "search", :action => "logs", :id => b.id } if @logs_perm %>
</td>
<td class="<%= server_class %>"><%= b.current_players.count %></td>
<% server_status_message = b.server_status_message && b.server_status_message.message.text.capitalize %>
<% if b.is_disabled %>
  <td class="serverDisabled">Disabled</td>
<% else %>
  <td class="server<%= server_status_message %>"><%= server_status_message %></td>
<% end %>
<% b.current_players.each do |x| -%>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<% if @admin_menu_perm -%>
<td></td>
<% end -%>
<td class="<%= server_class %>"></td>
<% player_class = server_class
   if x.is_admin
       player_class = 'admin'
   elsif x.is_verified
       player_class = 'registeredplayer'
   else
       player_class = 'activeplayer'
   end
%>
<td class="<%= player_class %>">
<% if @player_info_perm -%>
<%= link_to x.callsign, { :controller => "search", :action => "players", :player_search => { :search_by => "Callsign", :search_for => x.callsign } }, { :method => :post } %>
<% else -%>
<%= x && x.callsign %>
<% end -%>
<%= x && x.email %></td>
<% end -%>
</tr>
<% end -%>
</table>

<% if @logs_perm %>
<h1>Recent Reports</h1>
<table id="recent_reports">
<caption>Reports In The Last <%= @recent_report_days %> Days</caption>
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Server</th>
  <th>By</th>
  <th>Detail</th>
</tr>
<% @recent_reports.each_index do |i| %>
  <% rpt = @recent_reports[i] %>
  <tr class="rpt">
    <td><%= i + 1 %> </td>
    <td><%= display_date(rpt.logged_at) %></td>
    <td><%= rpt.bz_server.server_host.hostname + ':' + rpt.bz_server.port.to_s %></td>
    <td><%= rpt.callsign.name %></td>
    <td><%= rpt.message.text %></td>
  </tr>
<% end %>
</table>

<h1>Recent Bans</h1>
<table id="recent_bans">
<caption>Bans In The Last <%= @recent_ban_days %> Days</caption>
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Server</th>
  <th>By</th>
  <th>Detail</th>
</tr>
<% @recent_bans.each_index do |i| %>
  <% ban = @recent_bans[i] %>
  <tr class="cmd">
    <td><%= link_to (i + 1).to_s, :controller => "search", :action => "logs", :id => ban.bz_server_id, :next_page => ban.id %></td>
    <td><%= display_date(ban.logged_at) %></td>
    <td><%= ban.bz_server.server_host.hostname + ':' + ban.bz_server.port.to_s %></td>
    <td><%= ban.callsign.name %></td>
    <td><%= ban.message.text %></td>
  </tr>
<% end %>
</table>
<% end %>
