<h1>Servers</h1>
<table class="legend">
<tr>
<table class="legend">
<tr>
<td>Players: <%= @total_players %> Servers: <%= @total_servers %></td>
<td class="curtime">The current time is: <%= display_date(Time.now.utc) %> UTC</td>
</tr>
</table>
</tr>
<tr>
<table class="legend">
<tr>
<td class="testserver">Test Server</td>
<td class="activeplayer">Anonymous Player</td>
<td class="registeredplayer">Registered Player</td>
<td class="admin">Administrator</td>
</tr>
</table>
</tr>
</table>

<table id="server-list">
<tr>
<th>Host</th>
<th>Port</th>
<th>Map Name</th>
<% if @admin_menu_perm %><th>Chat <span class="filtered">Filtered</span></th><% end -%>
<th>Links</th>
<th>#</th>
<th>Detail</th>
</tr>
<% server_count = 0
   @bz_servers.each do |b|
       server_count += 1
       if b.current_players.count == 0
	  if server_count % 2 == 0
	     server_class = 'list-line-even'
	  else
	     server_class = 'list-line-odd'
	  end
       else
	  is_admin = is_verified = nil
	  b.current_players.each do |pl|
	      is_admin |= pl.is_admin
	      is_verified |= pl.is_verified
	  end
	  if is_admin
	      server_class = 'admin'
	  elsif is_verified
	      server_class = 'registeredplayer'
	  else
	      server_class = 'activeplayer'
	  end
       end
%>
<tr class="<%= server_class %>">
<td <%= 'class="testserver"' if b.is_test_server %>><%= b.server_host.hostname %></td>
<td <%= 'class="testserver"' if b.is_test_server %>><%= b.port %></td>
<td><%= b.map_name %></td>
<% if @admin_menu_perm -%>
  <td><%= b.last_chat_message && b.last_chat_message.logged_at > 24.hours.ago && b.last_chat_message.logged_at.strftime("%H:%M") || nil %>
    <% if b.last_filtered_message && b.last_filtered_message.logged_at > 24.hours.ago -%>
      <span class="filtered"><%= b.last_filtered_message.logged_at.strftime("%H:%M") %></span>
    <% end -%>
  </td>
<% end -%>
<td><%= link_to "Logs", { :action => "logs", :id => b.id } if @logs_perm %>
</td>
<td class="<%= server_class %>"><%= b.current_players.count %></td>
<% server_status_message = b.server_status_message && b.server_status_message.message.text.capitalize %>
<td class="server<%= server_status_message %>"><%= server_status_message %></td>
<% b.current_players.each do |x| -%>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<% if @admin_menu_perm -%>
<td></td>
<% end -%>
<td class="<%= server_class %>"></td>
<% player_class = server_class
   if x.is_admin
       player_class = 'admin'
   elsif x.is_verified
       player_class = 'registeredplayer'
   else
       player_class = 'activeplayer'
   end
%>
<td class="<%= player_class %>">
<% if @player_info_perm -%>
<%= link_to x.callsign, { :controller => "search", :action => "players", :player_search => { :search_by => "Callsign", :search_for => x.callsign } }, { :method => :post } %>
<% else -%>
<%= x && x.callsign %>
<% end -%>
<%= x && x.email %></td>
<% end -%>
</tr>
<% end -%>
</table>
