<h1>Players</h1>
<div>
  <fieldset>
    <legend>Enter Player Search Criteria</legend>
    <% form_for :player_search do |form| %>
      <p><label for="search_for">Search For:</label>
         <%= form.text_field :search_for, :size => 30 %>
         <%= form.select :search_by, @search_options %>
         <%= submit_tag "Search" %>
      </p>
      <p>Use a percent sign (%) for wildcard searching.  e.g. "ABC%" machines anything starting with 'ABC'
      </p>
    <% end %>
  </fieldset>
</div>

<div>
<% if @ips[0] %>
<p> <%= @matches %> matches found.</p>
<table>
  <tr>
    <th>IP</th>
    <th>Hostname and Callsigns</th>
    <th>BZid</th>
    <th>Status</th>
    <th>Connections</th>
  </tr>
  <% @ips.each do |ip, pcs| %>
  <tr>
    <td><%= ip.ip %></td>
    <td colspan="4"><%= ip.hostname %></td>
  </tr>
  <% pcs.each do |pc|%>
  <tr>
    <td></td>
    <td><%= pc.callsign.name %></td>
    <td><%= pc.bzid %></td>
    <td><%= 'VERIFIED' if pc.is_verified %>
      <%= 'GLOBALUSER' if pc.is_globaluser %>
      <%= 'ADMIN' if pc.is_admin %>
      <%= 'OPERATOR' if pc.is_operator %></td>
    <td><%= pc.join_at %> - <%= pc.part_at %> </td>
  </tr>
  <% end %>
  <% end %>
</table>
<% end %>
</div>
