<h1>Players</h1>
<div>
  <fieldset>
    <legend>Enter Player Search Criteria</legend>
    <% form_for :player_search do |form| %>
      <p><label for="search_for">Search For:</label>
         <%= form.text_field :search_for, :size => 30 %>
         <%= form.select :search_by, @search_options %>
         <%= submit_tag "Search" %>
      </p>
    <% end %>
  </fieldset>
</div>

<div class="players">
<% if @matches %>
<p> <%= @matches %> matches found.</p>
<% end %>
<% if @ips[0] %>
<table>
  <caption>IPs and Callsign Results </caption>
  <tr>
    <th>IP</th>
    <th>Hostname and Callsigns</th>
    <th>BZid</th>
    <th>Status</th>
    <th>Connections</th>
  </tr>
  <% @ips.each do |ip, pcs| %>
  <tr class="iphost">
    <td><%= ip.ip %></td>
    <td colspan="4"><%= ip.hostname %></td>
  </tr>
  <% pcs.each do |pc|%>
  <tr class="callsign">
    <td></td>
    <td><%= link_to pc.callsign.name, { :action => "players", :player_search => { :search_by => "Callsign", :search_for => pc.callsign.name } }, { :method => :post } %></td>
    <td><%= pc.bzid %></td>
    <td><%= 'Verified' if pc.is_verified %>
      <%= 'GlobalUser' if pc.is_globaluser %>
      <%= 'Admin' if pc.is_admin %>
      <%= 'Operator' if pc.is_operator %></td>
    <td><%= pc.join_at.strftime("%Y-%m-%dT%H:%M:%SZ") %> - <%= pc.part_at.strftime("%Y-%m-%dT%H:%M:%SZ") %> </td>
  </tr>
  <% end %>
  <% end %>
</table>
<% end %>
<p>Use a percent sign (%) for wildcard searching.  e.g. "ABC%" matches anything starting with 'ABC'
</p>
</div>
