<%= error_messages_for :bz_server %>

<% form_for :bz_server do |form| %>
  <p>BZFlag Server Host: <%= form.collection_select(:server_host_id, @server_hosts, :id, :hostname) %> </p>
  <p>Port: <%= form.text_field :port, :size => 5 %></p>
  <p><%= submit_tag %> </p>
<% end %>

<%= link_to "Return to List", :action => :bz_server_list %>
