<%
 #-------------------------------------------------------------------------------
 # The BZFlag Website Project - administration and monitoring of BZFlag servers
 # Copyright (C) 2009  Bernt T. Hansen
 #
 # This website project is free software; you can redistribute it and/or
 # modify it under the terms of the GNU Lesser General Public
 # License as published by the Free Software Foundation; either
 # version 2.1 of the License, or (at your option) any later version.
 #
 # This website project is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 # Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public
 # License along with this website project; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 #-------------------------------------------------------------------------------
 %>
<%= error_messages_for :bz_server -%>
<% form_for :bz_server do |form| %>
<p>BZFlag Server Host: <%= form.collection_select(:server_host_id, @server_hosts, :id, :hostname) %> </p>
<p>Port: <%= form.text_field :port, :size => 5 %></p>
<p>Test Server: <%= form.check_box(:is_test_server) %>
<p>Disabled: <%= form.check_box(:is_disabled) %>
<p><%= submit_tag %> </p>
<% end -%>
<%= link_to "Return to List", :action => :bz_server_list %>
