<%
 #-------------------------------------------------------------------------------
 # The BZFlag Website Project - administration and monitoring of BZFlag servers
 # Copyright (C) 2009  Bernt T. Hansen
 #
 # This website project is free software; you can redistribute it and/or
 # modify it under the terms of the GNU Lesser General Public
 # License as published by the Free Software Foundation; either
 # version 2.1 of the License, or (at your option) any later version.
 #
 # This website project is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 # Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public
 # License along with this website project; if not, write to the Free Software
 # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 #-------------------------------------------------------------------------------
 -%>
<h1>Validate Token</h1>
<% if session[:username] -%>
<table>
<tr>
<th>Username</th>
<th>BZid</th>
<th>Groups</th>
<th>Not Admin</th>
</tr>
<tr>
<td><%= session[:username] %></td>
<td><%= session[:bzid] %></td>
<td><%= session[:groups] && session[:groups][0] %></td>
<td><%= session[:admin].nil? %></td>
</tr>
<% session[:groups] && 1.upto(session[:groups].length) do |i| -%>
<tr>
<td></td><td></td><td><%= session[:groups][i] %></td>
</tr>
<% end -%>
</table>
<% end -%>
